<!DOCTYPE html>
<h1>Raffi Kudlac</h1>
<h3>Currently</h3>

<style>

</style>

<img src = "/assets/Thresh.jpg" height = 200 width = 200 align = "left"/>
<p>
	Right now I am currently enrolled at UBC Okanagan working towards completeing
	my undergraduate in Computer Science. Being in my third year of university, 
	I have good understanding of calculious, object oriented programming and 
	Physics. I am Currently employed at the university as Teachers Assistant
	and I am working on a project with a proffessor. 
</p>
