<!DOCTYPE html>
<h1>Portfolio</h1>
<style>

</style>

<div>
			<img src = "/assets/sloth.jpg" height = 200 width = 200 align = "left"/>
	<p>
		An amazing sloth App. That me and a peer made <br>
		sit in a tree and throw poo at the attacking animals<br>
		Hold out for as long as you can and get the best high score!<br>
		Its free in the apple and android store.
	</p>
</div>

<br>
<br>
<br>
<br>

<div>
			<img src = "/assets/calc.jpg" height = 200 width = 200 align = "left"/>
	<p>
		Check out my Calculios app That me and my friends made. Take derivatives
		and simplify equations for free. No internet access required, just take 
		it out of your pocket and off you go. Free on the android market.
	</p>
</div>

<br>