<!DOCTYPE html>
<h1>What I can do for you</h1>

<style>
	img{
		margin-left: 60px;
	}

	p{	
		text-indent: 0px;
	}
</style>

<h2>Coding Expeareances</h2>

<div>
	<img src = "/assets/vb.png" height = 100 width = 100 align = "left"/>
	<br>
	<p>2 years expeareance with Visual Basics</p>
</div>

<br>
<br>
<div>
	<img src = "/assets/rails.png" height = 100 width = 100 align = "left"/>
	<br>
	<p> intermidiate Ruby/Ruby on rails expeareance</p>
</div>

<br>
<br>
<br>
<div>
	<img src = "/assets/java.jpg" height = 100 width = 100 align = "left"/>
	<br>
	<p> 3 years of Java object oriented programming</p>
</div>

<br>
<br>
<div>
	<img src = "/assets/mysql.png" height = 100 width = 100 align = "left"/>
	<br>
	<p>Intermediate Database expeareance working with mysql</p>
</div>

<br>
<h2>Other</h2>
<br>
<div>
	<img src = "/assets/ubc.png" height = 100 width = 100 align = "left"/>
	<p> 2 years of being a Teachers Assistance for the University <br>
	of British Columbia. This job involved teaching students first year calculious and Computer Science
	</p>
</div>
<br>
<br>

<div>
	<img src = "/assets/livingPositive.jpg" height = 100 width = 100 align = "left"/>
	<p> Redesigned a website for a non profit organization,  <a href="http://livingpositive.weebly.com/">Living Positive Resorce Center</a>
	 located in Kelowna BC </p>
	<br>
</div>